<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="res/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Nunito&display=swap" rel="stylesheet">
    <title>Спектр</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Crimson+Text&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <div class="header_container">
        <div class="header_city">
            <div class="front_city">
                <div class="img_city">
                    <img src="../../img/tool.png" alt="">
                </div>
                <div class="city">
                    <A id="myBtn">Целинное</A>
                </div>
                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="text_in_modal">Выберете ваше место проживания</span>
                        <span class="close"></span>
                        <ul>
                            <li>Куйбышев</li>
                            <li>Цилинное</li>
                            <li>Барнаул</li>
                            <li>Бийск</li>
                        </ul>
                    </div>

                </div>
                </a>
            </div>
        </div>
        <div class="main_header_container">
            <div class="header_name">
                <a href="/"><img src="../../img/logo.png" width="90px" alt=""></a>
                <div class="text_name">
                    <a href="/"><span>СКТВ</span>Спектр</a>
                </div>

            </div>
            <div class="header_burger">

            </div>
            <div class="header_list">
                <ui class="header_menu">
                    <li class="header_link"><a href="tariffs">Тарифы</a></li>
                    <li class="header_link"><a href="contacts">Контакты</a></li>
                    <li class="header_link"><a href="news">Новости</a></li>
                </ui>
            </div>

            <div class="header_button" onclick="navbar()">
                <a href="" class="login_button">
                    <p class="">Войти</p>
                </a>
            </div>
            <div class="display_burger">
                <div class="burger_container">
                    <div class="burger">

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
    <div class="body_container">
            <div class="body_container_main body_container_main_contacts">
                <div class="contacts_block">
                    <div class="name_of_page">
                        <span>Контакты</span>
                    </div>
                        <div class="google_map">
                            <div class="map"></div>
                        </div>
                        <div class="our_social_networks">
                            <span>Наши социальные сети</span>
                            <hr class="news_udnerline">
                            <div class="img_in_contacts">
                                <img src="../../img/whatsapp-logo.svg" width="65px" alt="">
                                <img src="../../img/instagram-logo.svg" width="65px" alt="">
                                <img src="../../img/vk-logo.svg" width="65px" alt="">
                            </div>
                        </div>
                        <div class="our_phone_numbers">
                            <span>Наш номер телеофна</span>
                            <hr>
                            <ul>
                                <li>+7 (981) 998 12 77</li>
                                <li>+7 (981) 998 12 77</li>
                            </ul>

                        </div>
                        <div class="work_time">
                            <span>Наши часы работы</span>
                            <hr>
                            <ul>
                                <li>С 9:00 до 18:00 понедельник - пятница</li>
                                <li>Перерыв на обед с :</li>
                                <li>13:00 до 14:00</li>
                            </ul>
                        </div>
                </div>
            </div>

    </div>
<footer>
        <div class="footer_container">
            <div class="phone_numbers">
                Наш номер телефона
                <span>
                    +7 (981) 998 12 77 <br>
                </span>

            </div>
            <div class="footer_right_block">
                <div class="social_networks">
                    <div class="footer_icons">
                        <img src="../../img/whatsapp-logo.svg" width="35px" alt="">
                        <img src="../../img/instagram-logo.svg" width="35px" alt="">
                        <img src="../../img/vk-logo.svg" width="35px" alt="">
                    </div>
                </div>
                <div class="footer_about_us">
                    <span class="about_us">
                        ООО «Сибирские сети»
                        Новосибирск, Салтыкова-Щедрина, 118
                        630132
                        +7(383)305-51-94
                        Электронная почта:
                        info@211.ru
                    </span>
                </div>
            </div>

        </div>
    </footer>

<script src="res/js/script.js"></script>
</body>
</html>